<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        <div>
        {{form.username.label}}
        {{form.username}}</div>
        <div>
        {{form.email.label}}
        {{form.email}}
    </div>
    <div>
        {{form.password1.label}}
        {{form.password1}}
    </div>
    <div>
        {{form.password2.label}}
        {{form.password2}}
    </div>
        <input type="submit">
    </form>
</body>
</html>